@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

/* @font-face {
  font-family: Karla;
  src: url("../public/fonts/static/Karla-Regular.ttf") format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: Karla;
  src: url("../public/fonts/static/Karla-Bold.ttf") format("woff");
  font-style: normal;
  font-weight: 700;
} */

:root {
  --text-primary-color: #2b4246;
  --text-secondary-color: #0095ff;
  --main-color: #ffffff;
  --secondary-color: #0c7d69;
  --background-color: #dff1e7;
  --button-hover-color: #052822;
  --border-color: #87a3a6;
}

* {
  color: var(--text-primary-color, darkslategray);
  font-family: Karla;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color, lightgreen);
  display: flex;
  justify-content: center;
}

main {
  border-radius: 12px;
  width: 100vw;
  max-width: 624px;
}

section {
  background-color: var(--main-color, white);
  padding: 36px;
  margin: 12px;
}

h1 {
  font-weight: 700;
  font-size: 32px;
}

form {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}

sup {
  color: var(--text-secondary-color, blue);
  margin-left: 5px;
  font-size: 14px;
  vertical-align: bottom;
}

input,
textarea {
  outline: none;
  height: 34px;
  padding: 6px 8px;
}

input:focus,
input:hover,
textarea:hover,
textarea:focus {
  border: solid 1px var(--secondary-color, green);
}

textarea {
  resize: none;
  height: 90px;
}

p {
  margin-top: 16px;
}

li {
  flex: 1;
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 6px 0 6px 16px;
  margin: 10px 0 0 0;

  label {
    font-size: 16px;
    padding-left: 10px;
  }

  input:hover {
    cursor: pointer;
  }

  input:checked {
    accent-color: var(--secondary-color, green);
  }
}

li:has(input:checked) {
  border: solid 1px var(--secondary-color, green);
}

li:hover {
  border: solid 1px var(--secondary-color, green);
}

button {
  color: var(--main-color, white);
  background-color: var(--secondary-color, green);
  border: none;
  padding: 12px 0;
  border-radius: 6px;
  font-weight: 700;
}

button:hover {
  background-color: var(--button-hover-color, darkgreen);
  cursor: pointer;
}

.rounded_border {
  border-radius: 6px;
  border: solid 1px var(--border-color, gray);
}

.elem_container {
  display: flex;
  justify-content: space-between;
  column-gap: 12px;
}

.input_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;

  label {
    margin-bottom: 8px;
  }
}

.checkbox_container {
  display: flex;
  align-items: center;
  margin: 32px 0;

  label {
    margin-left: 14px;
  }

  input {
    margin-left: 4px;
    transform: scale(1.2);
  }

  input:checked {
    accent-color: var(--button-hover-color, green);
  }

  input:hover {
    cursor: pointer;
  }
}

@media (width <= 560px) {
  .elem_container {
    flex-direction: column;
    row-gap: 2px;
  }
}
